html,body {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}

.box {
    width:100%;
    height:100%;
    position:relative;
    color:#ffffff;
    font-size:24pt;
    -ms-overflow-style: none;}
::-webkit-scrollbar {
    display:none;
}

.f_img_100{
    width:1920px;
    height:1080px;
}

.img_100{
    width:100%;
    height:100%;
}

.img_white{
   -webkit-filter: opacity(.1) drop-shadow(0 0 0 white);
   filter: opacity(.1) drop-shadow(0 0 0 white);
}

footer{
    position: absolute;
    bottom: 0;
    background-color: red;
}
@font-face {
    font-family: 'EliceDigitalBaeum-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum-Bd.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'LeferiPoint-BlackA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KoPubDotumMedium';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KOHIBaeumOTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KOHIBaeumOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HallymGothic-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

*{
    font-family: 'GowunDodum-Regular';
    color: #000000;
    background-color: transparent;
}

svg{
    color: #ffffff;
}

.F_leferi{
    font-family: 'LeferiPoint-BlackA';
}

.F_KoPubDotumMedium{
    font-family: 'KoPubDotumMedium';
}

.F_KOHIBaeumOTF{
    font-family: 'KOHIBaeumOTF';
}

.F_1{
    font-family: 'HallymGothic-Bold';
    font-size: 40px;
}

.F_col_b{
    color: #000000;
}

.F_col_w{
    color: #ffffff;
}

.fs_50{
    font-size: 50px;
}

.img_100{
    background-image: url("/static/img/drowsiness_bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
}
.img_101{
    background-image: url("/static/img/drive04.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}

.box_bg{
    background-image: url("/static/img/drive04.png");
    background-size: auto;
}

.div_1920{
    width: 1920px;
    height: 1080px;
}

#circle {
    width: 200px;
    height: 200px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}

.padding_0{
    padding: 0;
}

.padding_T_50{
    padding-top: 50px;
}

.padding_T_35{
    padding-top: 35px;
}

.padding_L_25{
    padding-left: 25px;
}

.margin_T_30{
    margin-top: 30px;
}

.margin_L_30{
    margin-left: 30px;
}

.margin_L_50 {
    margin-left: 50px;
}

.margin_L_60{
    margin-left: 60px;
}

.margin_B_50{
    margin-bottom: 50px;
}

.flex_w_c{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
	align-items: baseline;
	align-items: center;
	align-content: stretch;
}

.flex_w_a{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

.flex_w_e{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: baseline;
	align-content: stretch;
}

.flex_sa{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-end;
}

.flex_sb{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
	align-content: stretch;
}

.flex_col{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: stretch;
}
.border_m{
   border-style: solid;
   border-width: 10px;/*상・우・하・좌*/
   }

.box01{
    width: 100%;
    height: 100%;
    position: relative;
    background: url("/static/img/secondpage1.jpg"),
                linear-gradient(to bottom,
                            rgba(0, 0, 0, 0.99),
                            rgba(232, 232, 232, 0.99)) top; /* 이미지 배경 그라데이션 */

    /*background: linear-gradient(to bottom,*/
    /*                        rgba(0, 0, 0, 0.99),*/
    /*                        rgba(232, 232, 232, 0.99)); !* 단색 배경 그라데이션 *!*/

    background-size: cover;
    -ms-overflow-style: none;}
::-webkit-scrollbar {
    display:none;
    }

.box01::before{
    content: "";
    opacity: 60%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #000; /* 배경 opacity */
}

.box01 div{
color: #fff;
text-align: center;
/*line-height: 300px;*/
position: relative;}

.center {
    float: left;
    margin-left: 50%;
    }

.border_m{
   border-style: solid;
   border-width: 10px;/*상・우・하・좌*/
   }